body{
    background: red;
    display: grid;
    grid-template-areas:
    "haus "
    "midja"
    "vinstri "
    "haegri "
    "fotur"
    "valmynd "
}
a{
    border: 1px dotted blue;
    padding: 5px;
    background: yellowgreen;
}

img {
    height: 200px;
    width: 200px;
  }
.header{
    grid-area: haus;
    border: 1px dotted blue;
}
.navbar{
    display: grid;
    grid-auto-columns: 1fr;
    grid-area: valmynd;
    border: 1px dotted blue;
}
.left{
    grid-area: vinstri;
    border: 1px dotted blue;
}
.main{
    grid-area: midja;
    border: 1px dotted blue;
}
.right{
    grid-area: haegri;
    border: 1px dotted blue;
}
.footer{
    grid-area: fotur;
    border: 1px dotted blue;
}
.tx{
    text-align: center;
}

.padd{
    padding: 10px;
}

@media screen and (min-width: 600px){
    body{
        background: green;
            display: grid;
            grid-template-areas:
            "valmynd valmynd valmynd"
            "haus haus haus "
            "vinstri midja midja"
            "haegri midja midja"
            "fotur fotur fotur";  
    }
    img {
        height: 250px;
        width: 250px;
      }
      .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-area: valmynd;
        border: 1px dotted blue;
    }
}
@media screen and (min-width: 1000px){
    body{
        background: plum;
        display: grid;
        grid-template-areas:
        "haus haus haus haus haus"
        "valmynd valmynd valmynd valmynd valmynd"
        "vinstri midja midja midja haegri "
        "fotur fotur fotur fotur fotur"; 
    }
    img {
        height: 300px;
        width: 300px;
      }
      .navbar{
        grid-area: valmynd;
        border: 1px dotted blue;
    }
}


