@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Kelly+Slab&display=swap');


body{
    display: grid;
    grid-template-areas: 
    "haus haus haus haus haus"
    "val val val val val"
    "vinstri miðja miðja miðja hægri"
    "fotur fotur fotur fotur fotur";
    padding: 10px;

}

.font1{
    font-size: 60px;
}

.header{
    grid-area: haus;
    border: yellow dashed;
    font-family: 'Fredericka the Great', serif;
    text-align: center;
    padding: 2px;
    color: blue;
}

.navbar{
    grid-area: val;
    border: yellow dashed;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: blue;
}

.left{
    grid-area: vinstri;
    border: yellow dashed;
    font-family: 'Kelly Slab', serif;
    color: blue;
}

.main{
    grid-area: miðja;
    border: yellow dashed;
    font-display: Kelly Slab;
    font-family: 'Kelly Slab', serif;
    color: blue;
}

.right{
    grid-area: hægri;
    border: yellow dashed;
    font-display: Kelly Slab;
    font-family: 'Kelly Slab', serif;
    color: blue;
}

.footer{
    grid-area: fotur;
    border: yellow dashed;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-align: center;
    color: blue;
}



.padding{
    padding: 5px;
}

.padding2{
    padding: 10px;
}

